.task-headline h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 61px;
  font-weight: 700;
  display: flex;
  gap: 1px;
  justify-content: flex-start;
}

.task-headline {
  display: flex;
  align-items: center;
  position: absolute;
  left: 328px;
  top: 206px;
  max-width: 1208px;
}

.addtask-btn,
.addtask-btn:hover {
  background-color: var(--button-selected);
}

.d-none {
  display: none;
}

.edit-subtask-field {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  position: relative;
}

.edit-subtask-field li {
  padding: 0;
}

.input-focus-required:focus-visible {
  outline-color: #ff001f !important;
}

.required-input-info {
  color: #ff8190;
  font-weight: 400;
  font-size: 12px;
}

.fill-btn-white path {
  fill: white;
}

.stroke-wht svg path {
  stroke: white;
}

.due-date-icon {
  position: absolute;
  top: 38px;
  right: 12px;
}

.active {
  color: var(--background-color-site);
  background-color: var(--button-color);
  border-radius: 10px;
}

.subtask-selected {
  background-color: #eeeeee;
  border-radius: 10px;
}

.show-subtasks {
  margin-block-start: 0;
  list-style-type: disc;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.subtask-list-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtask-container {
  display: list-item;
  padding: 6px 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon:hover {
  border-radius: 50%;
  background-color: #eeeeee;
}

.changed-input-icons svg {
  min-height: 14px;
  min-width: 14px;
}

.border-1px {
  border: 1px solid black !important;
}

.add-subtask {
  display: flex;
  position: relative;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.required-icon {
  color: #ff8190;
}

.svg-plusicon {
  right: 12px;
  position: absolute;
}

.icon-section {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  right: 12px;
}

.divider-2 {
  width: 1px;
  height: 24px;
  background-color: #a8a8a8;
}

.svg-plusicon:hover {
  border-radius: 50%;
  background-color: #eeeeee;
}

.changed-input-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 12px;
  gap: 8px;
}

.prio-container label {
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.radio-button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.custom-select::placeholder,
.btn-color-bk {
  color: black;
}

.button-container {
  width: 100%;
  position: absolute;
  bottom: -203px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.btn-bg {
  background-color: var(--button-color);
}

.btn-wht {
  background-color: var(--background-color-site);
  color: black;
}

.btn-wht:hover {
  border: 1px solid !important;
  border-color: var(--light-blue);
  color: var(--light-blue);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn-wht:hover svg path {
  stroke: var(--light-blue);
}

.btn-color-wht {
  color: white;
  font-weight: 700;
}

.btn-color-wht:hover {
  background-color: var(--light-blue);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border: transparent;
}

.category-selection:hover {
  background-color: #eeeeee;
  width: 100%;
  border-radius: 10px;
}

.add-task-btn {
  height: 55px;
  padding: 16px;
  border-radius: 10px;
  font-size: 21px;
  display: flex;
  gap: 8px;
  align-self: start;
  justify-content: center;
  align-items: center;
  border: none;
  width: 183px;
  flex-wrap: nowrap;
  transition: 0.1s;
}

.input-addtask-datepicker:focus-visible {
  outline: none;
}

.choosen-contacts {
  display: flex;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  width: 416px;
}

.required-info {
  margin-top: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.required-info-wrapper {
  display: flex;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.custom-select:focus-visible,
.input-addtask:focus-visible,
.input-addtask-date-modified:focus-visible,
#taskDescription:focus-visible {
  outline: 2px solid var(--light-blue);
}

#changedSubtaskValue:focus-visible {
  outline: transparent !important;
}

.input-addtask-datepicker:focus-visible {
  outline: none !important;
  border: none !important;
}

.task-added {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 326px;
  height: 74px;
  background-color: #2a3647;
  z-index: 3000;
  color: white;
  border-radius: 20px;
  transition: transform 600ms ease-out;
}

.required-info-mobile,
.clear-btn-2 {
  display: none;
}
