.assigned-to-container {
  position: relative;
  border-right: 2px solid #a8a8a863;
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  height: 48px;
}

.assigned-to-container img {
  cursor: pointer;
  width: 24px;
}

.contact-values {
  width: 440px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  height: 294px;
  position: static;
  margin-top: -6px;
  gap: 2px;
}

.contact-list-name-initials {
  display: flex;
  gap: 16px;
}

.contact-list-name-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contact-list-name-container:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 10%);
}

.initials-circle {
  height: 42px;
  min-width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color-site);
  border: 2px solid white;
}

.contact-list-name-container {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px;
}

.contact-list-checkbox-icon {
  display: flex;
}

.input-container-contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.contact-list-name-container:active {
  color: var(--background-color-site);
  background-color: var(--button-selected);
}

.arrow {
  top: 40px;
  right: 16px;
  cursor: pointer;
  position: absolute;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow:hover {
  border-radius: 50%;
  background-color: #eeeeee;
}

.rotate-180 {
  transform: rotate(180deg);
}

.assigned-to::placeholder {
  color: black;
  font-size: 16px;
}

.contact-value-wrapper {
  width: 440px;
  display: flex;
  background-color: white;
  margin-top: -23px;
  padding-top: 8px;
  z-index: 999;
}
