.mobile-btn-font-size {
    font-size: 17px;
}

.mobile-single-user-card {
    background-color: #F6F7F8;
}

.mobile-big-circle {
    width: 80px;
    height: 80px;
    font-size: 27px;
}

.small-screen-display-none {}


.mobile-btn-font-size {
    font-size: 17px;
}

@media (max-width: 1023px) {
    .desktop-view-off {
        display: none;
    }

    .contacts-container {
        margin: 0px auto;
        position: unset;
        overflow-y: scroll;
        height: calc(100% - 160px);
        width: 100%;
    }

    .mobile-center {
        display: flex;
        justify-content: end;
    }

    .main-header {
        width: 100%;
    }

    .dnone {
        display: none;
    }

    .add-contacts-btn {
        width: 56px;
        border-radius: 50%;
    }

    .contacts-conllection {
        margin: 0;
    }

    .btn-container {
        background-color: unset;
        margin-right: 14px;
        width: 56px;
        height: 56px;
    }

    .contacts-btn-bg {
        display: unset;
        width: 56px;
        height: 56px;
        left: 81%;
        right: 0px;
        top: calc(100% - 160px);
    }

    .contacts-icon-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .desktop-view-off {
        display: none;
    }

    .single-contact-headline {
        flex-direction: column;
        align-items: flex-start;
        transition: none;
        gap: 8px;
        margin: 0;
        height: 110px;

    }

    .single-data-headline {
        gap: 20px;
    }

    .single-contact-name-card {
        display: flex;
        align-items: center;
        font-size: 27px;
    }

    .single-contact-data-container {
        min-width: 0;
    }

    .single-contact-headline h1 {
        font-size: 47px;
    }

    .single-contact-headline span {
        font-size: 20px;
        width: 200px;
    }

    .desktop-none {
        display: unset;
    }

    #edit-card {
        position: absolute;
        top: 10%;
    }

    .edit-card-form {
        flex-direction: column;
    }

    .edit-card {
        flex-direction: column;
        border-radius: 30px;
        width: 400px;
        height: 748px;
    }

    .edit-card-headline {
        width: inherit;
        padding: 20px;
        border-radius: 30px 30px 0 0;
        height: 40%;
    }

    .edit-card-headline img {
        display: none;
    }

    .edit-card-form {
        border-radius: 0 0 30px 30px;
        padding: 62px 20px;
        width: inherit;
        height: 60%;
    }

    .edit-card-form-input {
        width: inherit;
    }

    #contacts-form {
        width: inherit;
        padding: 16px;
    }

    .close-btn {
        top: 2%;
        left: 90%;
    }

    #closeBtn {
        fill: var(--background-color-site);
    }

    .close-btn:hover {
        background-color: var(--light-blue);
    }

    .icons-contacts:hover {
        color: black;
    }

    #edit-card {
        margin: 0;
    }

    .mobileCirclePosition {
        position: absolute;
        top: 32%;
    }

    .edit-card-from-input {
        width: 100%;
    }

    .right-slide-animation {
        animation: slideFromBottomToTop 0.2s ease-in
    }

    .slide-back-animation {
        animation: slideFromTopToBottom 0.3s ease-in
    }

    #contact-success {
        top: 10%;
        left: 25%;
    }

    .single-contact-data-container {
        display: none;
    }

    #contact-success {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        top: 14%;
        left: 0;
    }
}

@media (max-width: 500px) {
    .edit-card {
        width: 380px;
    }

    .edit-card-header {
        font-size: 58px;
    }
}

@media (max-width: 389px) {
    .edit-card {
        width: 324px;
        height: 542px;
    }

    .edit-card-header {
        font-size: 44px;
    }

    .small-screen-display-none {
        display: none;
    }

    #edit-card {
        top: 14%;
    }

    .close-btn {
        left: 86%;
    }
}

@media (max-width: 350px) {
    .edit-card {
        width: 310px;
    }

    .mobile-btn-font-size {
        font-size: 14px;
    }
}
